body{
  background-image: linear-gradient(to bottom right, #4E1F6F, #610345, #2a385b, #44749d, #c6d4e1);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;

}

@keyframes gradient{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

h1{
  text-align: center;
  text-shadow: aliceblue 2px 2px;
}

h2{
  font-weight: bold;
  color: #abc3c9;
  text-shadow: #601a4a 2px 2px;
}

h3{
  font-style: italic;
  color: #ebe7e0;
}

h4{
  color: #2a385b;
}

label{
  color: whitesmoke;
}

img{
  height: 200px;
}

blockquote footer{
  color:  #f0f0f5;
}

.jumbotron{
  font-family: monospace;
  padding-top: 38px;
  padding-bottom: 38px;
  margin-top: 15px;
  background-color: #85c0f9;
  border: #44749d groove 4px;

}

.jumbotron h1{
  color: #0F2080;
  font-weight: bold;
}

.jumbotron h3{
  color: #2a385b;
}

.inputArea{
  margin: 30px 30px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputSection{
  width: 70%;
  justify-content: flex-start;
}

.pictureSection{
  width: 29%;
  justify-content: flex-end;
}

.form-group:hover{
  background-color: cadetblue;
  padding: 5px 5px 5px 5px;
}

.form-control{
  margin-left: 10px;
  width: 90%;
}

.btn{
  margin-right: 10px;
  margin-bottom: 15px;
  border-width: 4px;
}

.outputArea{
  display: none;
  word-wrap: break-word;
  font-family: monospace;
}

.outputArea p{
  font-weight: bold;
  font-size: 16px;
  color: #f9f4ec;
}

.well{
  background-color: #a95aa1;
  border-radius: 10px;
  border: #601a4a ridge 3px;
}

@keyframes wiggle{
  20%{
    transform: translateX(3px);
  }
  40%{
    transform: translateX(-3px);
  }
  60%{
    transform: translateX(2px);
  }
  80%{
    transform: translateX(-1px);
  }
  100%{
    transform: translateX(0);
  }
}

.wiggle:hover{
  animation: wiggle 1s ease;
  animation-iteration-count: 1;
}